/* #Media Queries
================================================== */
/* END__ */

@media (min-width: 992px) and (max-width: 1199px) {
} 
/* END__ */

@media (min-width: 768px) and (max-width: 991px) {
body, .form-control, .btn , .dropdown-menu, .input-group-text, .popover-header{ font-size:1.125rem;}
.banner{ padding-bottom:40px; padding-left:0; padding-right:0; text-align:center;}
.banner h1{ font-size:42px;}
.banner .row [class*="col-"]:first-child{ margin-bottom:40px;}
.section{ padding:30px 0;}
.black-bar{ padding:50px 0; text-align:center;}
.dash-board-top .user-info .box{ margin-top:20px;}
} 
/* END__ */

@media only screen and (max-width: 767px) {
body, .form-control, .btn , .dropdown-menu, .input-group-text, .popover-header{ font-size:1rem;}
h1, .h1 {font-size:1.875rem;}
h2, .h2 {font-size:1.6875rem;}
h3, .h3 {font-size:1.4375rem;}
h4, .h4 {font-size:1.25rem;}
h5, .h5 {font-size:1.125rem;}
h6, .h6 {font-size:1rem;}
.stellarnav > ul > li {float:none;}
.stellarnav > ul > li + li{ margin-left:0;}
.banner{ padding-bottom:40px; padding-left:10px; padding-right:10px; text-align:center;}
.banner h1{ font-size:38px;}
.banner .row [class*="col-"]:first-child{ margin-bottom:40px;}
.section{ padding:30px 10px;}
.black-bar{ padding:25px 10px;}
.list-media .content{ background-size:24px; padding-left:60px;}
.dash-board-top .user-info .box{ margin-top:20px;}
.button-link ul li a{ font-size:14px; padding:6px 14px;}
.dash-board-top .user-info .avatar, .dash-board-bottom .user-info .avatar{ width:90px; height:90px;}
.dash-board-bottom .user-info .media{ align-items:start;}
.dash-board-bottom .user-info [class*=col-]{ margin-top:5px;}
.btn-wrapper{ text-align:center;}
.btn-wrapper [class*=col-] + [class*=col-]{ margin-top:20px;}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
} 

/* END__ */

@media (max-width: 480px) {
} 
/* END__ */

